<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team Page</title>
</head>
<body>
<center id="team_title">Meet Your Team of Champions</center>

        <h1>Jack's About Me</h1>
        <img src= "placeholder" >Jack's pics</img>
            <p>Cake jelly ice cream fruitcake halvah muffin icing. 
                Bear claw gingerbread oat cake fruitcake liquorice tiramisu. 
                Bear claw gingerbread cheesecake ice cream wafer brownie croissant.
            </p>
        <br>
        <h1>Luke's About Me</h1>
        <img src= "placeholder">Lukes pics</img>
        <p>Muffin sweet ice cream icing ice cream brownie croissant. 
            Danish brownie croissant cupcake marzipan caramels jelly-o icing cake. 
            Jelly beans sweet roll chocolate bar toffee. Cake dragée apple pie.</p>
        <br>
        <h1>Tina's About Me</h1> 
        <img src="placeholder" >Tinas pics</img>
        <p>Sugar plum chupa chups powder icing pie. Sesame snaps apple pie cupcake cupcake. Chocolate bar cake cheesecake candy canes.
        Bear claw gummi bears dessert biscuit oat cake jelly muffin</p>
<br>
        <h1>Jeff's About Me</h1>
        <img src= "placeholder" >Jeffs pics</img>
        
        <p> Croissant tootsie roll ice cream lemon drops gummi bears sesame snaps tart dragée soufflé. Jelly beans pudding gummi bears sugar plum dragée muffin chupa chups. Gummies cake wafer chocolate bar oat cake dragée cheesecake pie wafer. 
        Bonbon muffin dragée icing lollipop cheesecake </p>
<br>
        <h1>Amanda's  About Me</h1>
        <img src= "placeholder" >Amanda's pics</img>
        
        <p> Croissant tootsie roll ice cream lemon drops gummi bears sesame snaps tart dragée soufflé. Jelly beans pudding gummi bears sugar plum dragée muffin chupa chups. Gummies cake wafer chocolate bar oat cake dragée cheesecake pie wafer. 
        Bonbon muffin dragée icing lollipop cheesecake </p>
<br>


</body>
</html>