<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/styles/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <title>Bike Right Back</title>
</head>

<body>




<div >
                        <div class="card-header text-center">
                            <h2 class='addbikeheader'>Add a Bike to the Index</h2>
                        </div>
                  
                        <div class="col-sm-6 offset-sm-3  text-center">
                            <div class="row">
                            <div class="col-sm-6">
                                <label for="serial" class="add">Serial Number</label>
                                <br>
                                <label for="manufacturer" class="add">Manufactuer</label>
                                <br>
                                <label for="color" class="add">Color</label>
                                <br>
                                <label for="email" class="add">Owner E-mail</label>
                                <br>
                                <label for="frame" class="add">Frame Model</label>
                                <br>
                                <label for="picture" class="add">Image URL</label>
                                <br>
                                <label for="reward" class="add">Reward If Found</label>
                            </div>
                            <div class="col-sm-6">
                            <form>
                                <input type="text" name="serial" placeholder="12a3b45c" class="add" id="serial"/>
                                <br>
                                <input type="text" name="manufacturer" placeholder="willy wonka bikes" class="add" id="manufacturer" />
                                <br>
                                <input type="text" name="color" placeholder="tye-dye" class="add" id="color" />
                                <br>
                                <input type="text" name="email" placeholder="bikelover420@yo-yo.com" class="add" id="email" />
                                <br>
                                <input type="text" name="frame" placeholder="nimbus 2000" class="add" id="frame" />
                                <br>
                                <input type="text" name="picture" placeholder="http://bitly.com/12345" class="add" id="image"/>
                                <br>
                                <input type="text" name="reward" placeholder="$$$$$$$$$$$$$$$" class="add" id="reward"/>
                                <br>
                                <input type="submit" name="submitit" class="btn btn-success " id="addBike" />
                        </div>

                    
             
                        <div class="addmsg"></div>
                    </form>
                    </div>
                        </div>
                    </div>










</body>
</html>