




<div >
                     
                            <!-- <h2 class='addbikeheader'>Add a Bike to the Index</h2> -->
                      
                  
                        <div class="col-sm-12   text-center ">
                                <h2 class='addbikeheader'>Add a Bike to the Index</h2>
                            <div class="row">

                            <div class="col-sm-12 addbikeinputs">
                            <form id="add-bike-form" method="POST" action="/api/bikes">
                                <input type="text" name="serial" placeholder="Serial #" class="add" id="serial"/>
                                <br>
                                <input type="text" name="make" placeholder="Manufacturer" class="add" id="manufacturer" />
                                <br>
                                <input type="text" name="color" placeholder="Color" class="add" id="color" />
                                <br>
                                <!-- <input type="text" name="email" placeholder="bikelover420@yo-yo.com" class="add" id="email" />
                                <br> -->
                                <input type="text" name="model" placeholder="Model" class="add" id="frame" />
                                <br>
                                <input type="text" name="picture" placeholder="Link to Picture of Bike" class="add" id="image"/>
                                <br>
                                <input type="submit" name="submitit" class="btn btn-success " id="addBike"  />
                        </div>

                    
             
                        <div class="addmsg"></div>
                    </form>
                    </div>
                        </div>
                    </div>
