<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="assets/styles/styles.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <title>Bike Right Back</title>
</head>

<body>




     <div class="row">
        
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/bicycle.png" alt="Card image cap">
                <hr>
                <div class="card-body">
                  <h5 class="card-title">STOLEN!</h5>
                  <p class="card-text">Schwinn 1994 Red Edition</p>
                </div>
                <ul class="list-group list-group-flush">
                        Date Stolen: <li class="list-group-item">05/26/18</li>
                        Time Stolen: <li class="list-group-item">12:00 AM</li>
                        Location Stolen: <li class="list-group-item">Colfax and something</li>
                        Reward if Found: <li class="list-group-item">$100</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Link to Bike Image</a>
                  <!-- <a href="#" class="card-link">Another link</a> -->
                  <input type="submit" name="foundit" class="btn btn-success " id="founduserbike" value="I Found It!" />
                </div>
              </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/bicycle.png" alt="Card image cap">
                <hr>
                <div class="card-body">
                        <h5 class="card-title">STOLEN!</h5>
                        <p class="card-text">Make and Model of Bicycle</p>
                </div>
                <ul class="list-group list-group-flush">
                        Date Stolen: <li class="list-group-item">05/26/18</li>
                        Time Stolen: <li class="list-group-item">12:00 AM</li>
                        Location Stolen: <li class="list-group-item">Colfax and something</li>
                        Reward if Found: <li class="list-group-item">$100</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Link to Bike Image</a>
                  <!-- <a href="#" class="card-link">Another link</a> -->
                  <input type="submit" name="foundit" class="btn btn-success " id="founduserbike" value="I Found It!" />
                </div>
              </div>
        </div>



        <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="assets/images/bicycle.png" alt="Card image cap">
                    <hr>
                    <div class="card-body">
                            <h5 class="card-title">STOLEN!</h5>
                            <p class="card-text">Make and Model of Bicycle</p>
                    </div>
                    <ul class="list-group list-group-flush">
                            Date Stolen: <li class="list-group-item">05/26/18</li>
                            Time Stolen: <li class="list-group-item">12:00 AM</li>
                            Location Stolen: <li class="list-group-item">Colfax and something</li>
                            Reward if Found: <li class="list-group-item">$100</li>
                    </ul>
                    <div class="card-body">
                      <a href="#" class="card-link">Link to Bike Image</a>
                      <!-- <a href="#" class="card-link">Another link</a> -->
                      <input type="submit" name="foundit" class="btn btn-success " id="founduserbike" value="I Found It!" />
                    </div>
                  </div>
            </div>






      </div> 


















</body>
</html>












































    <!-- <div class="row">
        
        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="assets/images/bicycle.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <img class="card-img-top" src="assets/images/bicycle.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
      </div> -->