<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/styles/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <title>Bike Right Back</title>
</head>
<body>
    <header class="brb-header">
        <img src="assets/images/brbiconmod2.png" alt="#" height="133" width="264" class="logo-img">
    </header>
    <nav class="navbar navbar-light bg-light navbar-expand-lg">
       
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ">
                <li>
                    <img src="assets/images/bicycleflip.png" alt="#" height="40" width="89" class="navbar-brand">
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link"><span class='red'>||</span>Home<span class='red'>||</span></a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link"><span class='red'>||</span>Login/Sign-Up<span class='red'>||</span></a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link"><span class='red'>||</span>Bike Registry<span class='red'>||</span> </a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link"><span class='red'>||</span>Report Theft<span class='red'>||</span></a>
                </li>
                <li class="navbar-item">
                    <a href="#" class="nav-link"><span class='red'>||</span>Meet the Team<span class='red'>||</span></a>
                </li>
                <!-- <li class="navbar-item">
                    <a href="#" class="nav-link"><span class='red'>||</span>Contact Us<span class='red'>||</span></a>
                </li> -->
                <li class="navbar-item">
                    <a href="#" class="nav-link"><span class='red'>||</span>FAQ<span class='red'>||</span></a>
                </li>
                <li>
                    <img src="assets/images/bicycle.png" alt="#" height="40" width="89" class="navbar-brand">
                </li>
                <li>
                    <a href="https://twitter.com/bikerightback?lang=en">
                        <img src="assets/images/twitter.png" alt="HTML tutorial" height="65" width="65" class="nav-link">
                      </a>
                    </li>
                <!-- <li>
                    <img src="images/fb.png" href="https://www.google.com/" alt="#" height="65" width="65" class="nav-link">
                </li> -->
                <li>
                <a href="https://fb.me/bikerightback ">
                    <img src="assets/images/fb.png" alt="HTML tutorial" height="55" width="55" class="nav-link">
                  </a>
                </li>
            </ul>
        </div>
    </nav>









    <div >
                     
        <!-- <h2 class='addbikeheader'>Add a Bike to the Index</h2> -->
  

    <div class="col-sm-12   text-center ">
            <h2 class='addbikeheader'>Add a Bike to the Index</h2>
        <div class="row">
        <!-- <div class="col-sm-12 addbikelabels">
            <label for="serial" class="add">Serial Number</label>
            <br>
            <label for="manufacturer" class="add">Manufactuer</label>
            <br>
            <label for="color" class="add">Color</label>
            <br>
            <label for="email" class="add">Owner E-mail</label>
            <br>
            <label for="frame" class="add">Frame Model</label>
            <br>
            <label for="picture" class="add">Image URL</label>
            <br>
            <label for="reward" class="add">Reward If Found</label>
        </div> -->
        <div class="col-sm-12 addbikeinputs">
        <form>
            <input type="text" name="serial" placeholder="Serial #" class="add" id="serial"/>
            <br>
            <input type="text" name="manufacturer" placeholder="Manufacturer" class="add" id="manufacturer" />
            <br>
            <input type="text" name="color" placeholder="Color" class="add" id="color" />
            <br>
            <!-- <input type="text" name="email" placeholder="bikelover420@yo-yo.com" class="add" id="email" />
            <br> -->
            <input type="text" name="frame" placeholder="Model" class="add" id="frame" />
            <br>
            <input type="text" name="picture" placeholder="Link to Picture of Bike" class="add" id="image"/>
            <br>
            <input type="text" name="reward" placeholder="Reward if Found" class="add" id="reward"/>
            <br>
            <input type="submit" name="submitit" class="btn btn-success " id="addBike" />
    </div>



    <div class="addmsg"></div>
</form>
</div>
    </div>
</div>





























    <footer class="footer">
        <div class="container">
            <span>Copyright (c) 2018 bikerightback.com</p>
            </span>
        </div>
    </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>