



        <div class ="col-md-12 mid-col text-center">
                <h1 id="search-bikes">Local Theft Report</h1>
            </div>    
    <div class ="col-md-12 mid-col text-center">
    
                <form>
                  <input type="text" id="bike-search" placeholder="zip code here"></input>
                  <input for="location-search" id="search" type="submit"></input>
                </form>   
    
        </div>
    
    
    
        
    
        <div class ="col-md-12 mid-col text-center">
     
            <div class="search-field">
                    <p>google map here</p>
            </div>
    </div>
    
    
    
    
            <div class="row">
            
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/pink.jpg" alt="Card image cap">
                        <hr>
                        <div class="card-body">
                          <h5 class="card-title">STOLEN!</h5>
                          <p class="card-text">Schwinn 1994 Red Edition</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                Date Stolen: <li class="list-group-item">05/26/18</li>
                                Time Stolen: <li class="list-group-item">12:00 AM</li>
                                Location Stolen: <li class="list-group-item">Colfax and something</li>
                                Reward if Found: <li class="list-group-item">$100</li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Link to Bike Image</a>
                          <!-- <a href="#" class="card-link">Another link</a> -->
                          <input type="submit" name="foundit" class="btn btn-success " id="founduserbike" value="I Found It!" />
                        </div>
                      </div>
                </div>
        
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/pink.jpg" alt="Card image cap">
                        <hr>
                        <div class="card-body">
                                <h5 class="card-title">STOLEN!</h5>
                                <p class="card-text">Make and Model of Bicycle</p>
                        </div>
                        <ul class="list-group list-group-flush">
                                Date Stolen: <li class="list-group-item">05/26/18</li>
                                Time Stolen: <li class="list-group-item">12:00 AM</li>
                                Location Stolen: <li class="list-group-item">Colfax and something</li>
                                Reward if Found: <li class="list-group-item">$100</li>
                        </ul>
                        <div class="card-body">
                          <a href="#" class="card-link">Link to Bike Image</a>
                          <!-- <a href="#" class="card-link">Another link</a> -->
                          <input type="submit" name="foundit" class="btn btn-success " id="founduserbike" value="I Found It!" />
                        </div>
                      </div>
                </div>
        
        
        
                <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="assets/images/pink.jpg" alt="Card image cap">
                            <hr>
                            <div class="card-body">
                                    <h5 class="card-title">STOLEN!</h5>
                                    <p class="card-text">Make and Model of Bicycle</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                    Date Stolen: <li class="list-group-item">05/26/18</li>
                                    Time Stolen: <li class="list-group-item">12:00 AM</li>
                                    Location Stolen: <li class="list-group-item">Colfax and something</li>
                                    Reward if Found: <li class="list-group-item">$100</li>
                            </ul>
                            <div class="card-body">
                              <a href="#" class="card-link">Link to Bike Image</a>
                              <!-- <a href="#" class="card-link">Another link</a> -->
                              <input type="submit" name="foundit" class="btn btn-success " id="founduserbike" value="I Found It!" />
                            </div>
                          </div>
                    </div>
    
    
    
    
    
    
                    <div class="col-sm-4">
                            <div class="card">
                                <img class="card-img-top" src="assets/images/pink.jpg" alt="Card image cap">
                                <hr>
                                <div class="card-body">
                                  <h5 class="card-title">STOLEN!</h5>
                                  <p class="card-text">Schwinn 1994 Red Edition</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                        Date Stolen: <li class="list-group-item">05/26/18</li>
                                        Time Stolen: <li class="list-group-item">12:00 AM</li>
                                        Location Stolen: <li class="list-group-item">Colfax and something</li>
                                        Reward if Found: <li class="list-group-item">$100</li>
                                </ul>
                                <div class="card-body">
                                  <a href="#" class="card-link">Link to Bike Image</a>
                                  <!-- <a href="#" class="card-link">Another link</a> -->
                                  <input type="submit" name="foundit" class="btn btn-success " id="founduserbike" value="I Found It!" />
                                </div>
                              </div>
                        </div>
                
                        <div class="col-sm-4">
                            <div class="card">
                                <img class="card-img-top" src="assets/images/pink.jpg" alt="Card image cap">
                                <hr>
                                <div class="card-body">
                                        <h5 class="card-title">STOLEN!</h5>
                                        <p class="card-text">Make and Model of Bicycle</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                        Date Stolen: <li class="list-group-item">05/26/18</li>
                                        Time Stolen: <li class="list-group-item">12:00 AM</li>
                                        Location Stolen: <li class="list-group-item">Colfax and something</li>
                                        Reward if Found: <li class="list-group-item">$100</li>
                                </ul>
                                <div class="card-body">
                                  <a href="#" class="card-link">Link to Bike Image</a>
                                  <!-- <a href="#" class="card-link">Another link</a> -->
                                  <input type="submit" name="foundit" class="btn btn-success " id="founduserbike" value="I Found It!" />
                                </div>
                              </div>
                        </div>
                
                
                
                        <div class="col-sm-4">
                                <div class="card">
                                    <img class="card-img-top" src="assets/images/pink.jpg" alt="Card image cap">
                                    <hr>
                                    <div class="card-body">
                                            <h5 class="card-title">STOLEN!</h5>
                                            <p class="card-text">Make and Model of Bicycle</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                            Date Stolen: <li class="list-group-item">05/26/18</li>
                                            Time Stolen: <li class="list-group-item">12:00 AM</li>
                                            Location Stolen: <li class="list-group-item">Colfax and something</li>
                                            Reward if Found: <li class="list-group-item">$100</li>
                                    </ul>
                                    <div class="card-body">
                                      <a href="#" class="card-link">Link to Bike Image</a>
                                      <!-- <a href="#" class="card-link">Another link</a> -->
                                      <input type="submit" name="foundit" class="btn btn-success " id="founduserbike" value="I Found It!" />
                                    </div>
                                  </div>
                            </div>
        
        
        
        
        
        
              </div> 
    
    
    
    
    
