<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/styles/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <title>Bike Right Back</title>
</head>

<body>





<div class ="col-md-12 mid-col text-center">
    <h1 id="search-bikes">Bike Thefts In Your Area</h1>
            <form>
              <input type="text" id="bike-search" placeholder="zip code here"></input>
              <input for="location-search" id="search" type="submit"></input>
            </form>   
            <div class="search-field">
                    <p>google map here</p>
            </div>
    </div>







</body>
</html>