    <!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        {{!-- <link rel="stylesheet" type="text/css" href="assets/styles/styles.css"> --}}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
        <title>Bike Right Back</title>
    </head>
    
    <body>



<div class="col-sm-12   text-center ">
        <h2 class='addbikeheader'>Sign Up Today!</h2>
    <div class="row">

    <div class="col-sm-12 addbikeinputs">
    <form>
            <input type="text" name="username" placeholder="Username" class="add" id="username"/>
            <br>
        <input type="text" name="name" placeholder="Name" class="add" id="name"/>
        <br>
        <input type="text" name="email" placeholder="Email (We will never share this)" class="add" id="email" />
        <br>
        <input type="text" name="zip" placeholder="Zip Code" class="add" id="zip" />
        <br>

        <input type="password" name="password" placeholder="Password" class="add" id="password" />
        <br>
        <input type="password" name="password2" placeholder="Verify Password" class="add" id="password2"/>
        <br>
        <input type="submit" name="submit-info" class="btn btn-success " id="submit_info" />
</div>


</body>
