<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../public/assets/css/bike_styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <title>Bike Right Back</title>
</head>

<body>




<div >
                     
                            <!-- <h2 class='addbikeheader'>Add a Bike to the Index</h2> -->
                      
                  
                        <div class="col-sm-12   text-center ">
                                <h2 class='stolenbikeheader'>Report Theft Details</h2>
                            <div class="row">
                            <!-- <div class="col-sm-12 addbikelabels">
                                <label for="serial" class="add">Serial Number</label>
                                <br>
                                <label for="manufacturer" class="add">Manufactuer</label>
                                <br>
                                <label for="color" class="add">Color</label>
                                <br>
                                <label for="email" class="add">Owner E-mail</label>
                                <br>
                                <label for="frame" class="add">Frame Model</label>
                                <br>
                                <label for="picture" class="add">Image URL</label>
                                <br>
                                <label for="reward" class="add">Reward If Found</label>
                            </div> -->
                            <div class="col-sm-12 stolenbikeinputs">
                            <form>
                                <input type="text" name="date" placeholder="Date Stolen (MM/DD/YYYY)" class="add" id="date"/>
                                <br>
                                <input type="text" name="location" placeholder="Location Stolen" class="add" id="location" />
                                <br>
                                <input type="time" name="time"  class="add" id="time"  />
                                <br>
                                <input type="text" name="reward" placeholder="Reward if Found ($$$)" class="add" id="reward" />
                                <br>
                                <input type="text" name="comments" placeholder="Other Details Here" class="add" id="comments" />
                                <br>
                                <input type="submit" name="submitit" class="btn btn-success" id="addStolenBike" />
                    
                        </div>

                    
             
                        <div class="addmsg"></div>
                    </form>
                    </div>
                        </div>
                    </div>








































</body>
</html>