




<div >
                     
                            <!-- <h2 class='addbikeheader'>Add a Bike to the Index</h2> -->
                      
                  
                        <div class="col-sm-12   text-center ">
                                <h2 class='stolenbikeheader'>Report Theft Details</h2>
                            <div class="row">

                            <div class="col-sm-12 stolenbikeinputs">
                            <form id="stolen-bike-form" method="POST" action="/api/bikes/stolen">
                                <input type="text" name="date" placeholder="Date Stolen (MM/DD/YYYY)" class="add" id="date"/>
                                <br>
                                <input type="text" name="location" placeholder="Location Stolen" class="add" id="location" />
                                <br>
                                <input type="time" name="time"  class="add" id="time"  />
                                <br>
                                <input type="text" name="reward" placeholder="Reward if Found ($$$)" class="add" id="reward" />
                                <br>
                                <input type="text" name="comments" placeholder="Other Details Here" class="add" id="comments" />
                                <br>
                                <input type="submit" name="submitit" class="btn btn-success" id="addStolenBike" />
                    
                        </div>

                    
             
                        <div class="addmsg"></div>
                    </form>
                    </div>
                        </div>
                    </div>





