



    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/blacktee.jpg" alt="Card image cap">
                <hr>
                <div class="card-body">
                    <h5 class="card-title">BRB Tee- Black</h5>
                    <p class="card-text">$19.99</p>
                    <a href="#" class="card-link">Order Now</a>



                    <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Select Size
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                              <button class="dropdown-item" type="button">S</button>
                              <button class="dropdown-item" type="button">M</button>
                              <button class="dropdown-item" type="button">L</button>
                              <button class="dropdown-item" type="button">XL</button>
                            </div>
                          </div>



                </div>

            </div>
        </div>

        <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="assets/images/blacktee.jpg" alt="Card image cap">
                    <hr>
                    <div class="card-body">
                        <h5 class="card-title">BRB Tee- Black</h5>
                        <p class="card-text">$19.99</p>
                        <a href="#" class="card-link">Order Now</a>
    
    
    
                        <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Select Size
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                  <button class="dropdown-item" type="button">S</button>
                                  <button class="dropdown-item" type="button">M</button>
                                  <button class="dropdown-item" type="button">L</button>
                                  <button class="dropdown-item" type="button">XL</button>
                                </div>
                              </div>
    
    
    
                    </div>
    
                </div>
            </div>

            <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/blacktee.jpg" alt="Card image cap">
                        <hr>
                        <div class="card-body">
                            <h5 class="card-title">BRB Tee- Black</h5>
                            <p class="card-text">$19.99</p>
                            <a href="#" class="card-link">Order Now</a>
        
        
        
                            <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Select Size
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                      <button class="dropdown-item" type="button">S</button>
                                      <button class="dropdown-item" type="button">M</button>
                                      <button class="dropdown-item" type="button">L</button>
                                      <button class="dropdown-item" type="button">XL</button>
                                    </div>
                                  </div>
        
        
        
                        </div>
        
                    </div>
                </div>


                <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="assets/images/blacktee.jpg" alt="Card image cap">
                            <hr>
                            <div class="card-body">
                                <h5 class="card-title">BRB Tee- Black</h5>
                                <p class="card-text">$19.99</p>
                                <a href="#" class="card-link">Order Now</a>
            
            
            
                                <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          Select Size
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                          <button class="dropdown-item" type="button">S</button>
                                          <button class="dropdown-item" type="button">M</button>
                                          <button class="dropdown-item" type="button">L</button>
                                          <button class="dropdown-item" type="button">XL</button>
                                        </div>
                                      </div>
            
            
            
                            </div>
            
                        </div>
                    </div>

    </div>