<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="../public/assets/css/bike_styles.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <title>Bike Right Back</title>
</head>

<body>




    <div class="row">

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/blacktee.jpg" alt="Card image cap">
                <hr>
                <div class="card-body">
                    <h5 class="card-title">BRB Tee- Black</h5>
                    <p class="card-text">$19.99</p>
                    <a href="#" class="card-link">Order Now</a>
                </div>

            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/blacktee.jpg" alt="Card image cap">
                <hr>
                <div class="card-body">
                    <h5 class="card-title">BRB Tee- Black</h5>
                    <p class="card-text">$19.99</p>
                    <a href="#" class="card-link">Order Now</a>
                </div>

            </div>
        </div>


        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/blacktee.jpg" alt="Card image cap">
                <hr>
                <div class="card-body">
                    <h5 class="card-title">BRB Tee- Black</h5>
                    <p class="card-text">$19.99</p>
                    <a href="#" class="card-link">Order Now</a>
                </div>

            </div>
        </div>


        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/blacktee.jpg" alt="Card image cap">
                <hr>
                <div class="card-body">
                    <h5 class="card-title">BRB Tee- Black</h5>
                    <p class="card-text">$19.99</p>
                    <a href="#" class="card-link">Order Now</a>
                </div>

            </div>
        </div>


        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/blacktee.jpg" alt="Card image cap">
                <hr>
                <div class="card-body">
                    <h5 class="card-title">BRB Tee- Black</h5>
                    <p class="card-text">$19.99</p>
                    <a href="#" class="card-link">Order Now</a>
                </div>

            </div>
        </div>


        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/blacktee.jpg" alt="Card image cap">
                <hr>
                <div class="card-body">
                    <h5 class="card-title">BRB Tee- Black</h5>
                    <p class="card-text">$19.99</p>
                    <a href="#" class="card-link">Order Now</a>
                </div>

            </div>
        </div>


        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="assets/images/blacktee.jpg" alt="Card image cap">
                <hr>
                <div class="card-body">
                    <h5 class="card-title">BRB Tee- Black</h5>
                    <p class="card-text">$19.99</p>
                    <a href="#" class="card-link">Order Now</a>
                </div>

            </div>
        </div>


    </div>







</body>

</html>