
     <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>Team Page</title>

</head>

<body>
    <div>

    </div>
    <div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/my-portrait2.jpg" alt="FaceHere">
                        <hr>
                        <div class="card-body text-dark">
                            <h5 class="card-title">Jack</h5>
                            <p class="card-text">Cake jelly ice cream fruitcake halvah muffin icing. Bear claw gingerbread oat cake fruitcake
                                liquorice tiramisu. Bear claw gingerbread cheesecake ice cream wafer brownie croissant.</p>
                            <a href="https://github.com/amandaogonosky/brbproject2">Check Out My Genius</a>
                        </div>
                    </div>
                </div>
            
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/IMG_1947.jpg"  alt="FaceHere">
                        <hr>
                        <div class="card-body text-dark">
                            <h5 class="card-title">Luke</h5>
                            <p class="card-text">Cake jelly ice cream fruitcake halvah muffin icing. Bear claw gingerbread oat cake fruitcake
                                liquorice tiramisu. Bear claw gingerbread cheesecake ice cream wafer brownie croissant.</p>
                            <a href="https://github.com/amandaogonosky/brbproject2">Holla Atcha Boy</a>
                        </div>
                    </div>
                </div>
        
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/jeff.jpg"  alt="FaceHere">
                        <hr>
                        <div class="card-body text-dark">
                            <h5 class="card-title">Jeff</h5>
                            <p class="card-text">Cake jelly ice cream fruitcake halvah muffin icing. Bear claw gingerbread oat cake fruitcake
                                liquorice tiramisu. Bear claw gingerbread cheesecake ice cream wafer brownie croissant.</p>
                            <a href="https://github.com/amandaogonosky/brbproject2">Visit My Portfolio</a>
                        </div>
                    </div>
                </div>
         
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/tinytina.jpeg"  alt="FaceHere">
                        <hr>
                        <div class="card-body text-dark">
                            <h5 class="card-title">Tina</h5>
                            <p class="card-text">Cake jelly ice cream fruitcake halvah muffin icing. Bear claw gingerbread oat cake fruitcake
                                liquorice tiramisu. Bear claw gingerbread cheesecake ice cream wafer brownie croissant.</p>
                            <a href="https://github.com/amandaogonosky/brbproject2"> Tiny Home Wishes</a>
                        </div>
                    </div>
                </div>
          
            
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="assets/images/ao.jpeg" alt="FaceHere">
                        <hr>
                        <div class="card-body text-dark">
                            <h5 class="card-title">Amanda</h5>
                            <p class="card-text">Cake jelly ice cream fruitcake halvah muffin icing. Bear claw gingerbread oat cake fruitcake
                                liquorice tiramisu. Bear claw gingerbread cheesecake ice cream wafer brownie croissant.</p>
                            <a href="https://github.com/amandaogonosky/brbproject2">Lynx </a>
                        </div>
                    </div>
                </div>
            </div>
       
    </div>

</body>

</html>