<p>Meet the Team</p>

<img src= "placeholder" >Jack's pics</img>
    <p>bio</p>
<img src= "placeholder" >Lukes pics</img>
<p>bio</p>
<img src= "placeholder" >Tinas pics</img>
<p>bio</p>
<img src= "placeholder" >Jeffs pics</img>
<p>bio</p>