<h1>Register with Bike Right Back</h1>
<form>
    {{!-- username --}}
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username">

  </div>
  {{!-- name --}}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name">
  </div>
    {{!-- email --}}
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  {{!-- zipcode --}}
  <div class="form-group">
    <label for="zip">Password</label>
    <input type="number" class="form-control" id="zip" placeholder="Zipcode">
  </div>
  {{!-- password --}}
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  {{!-- password verification --}}
  <div class="form-group">
    <label for="password2">Verify Password</label>
    <input type="password" class="form-control" id="password2" placeholder="Verify Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>